*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}

.navBarConteiner{
  text-align: center;
  background-color: aqua;

}

.navBar ul{
  display: flex;
  justify-content: space-around;
}

.cardsConteiner {
  display: flex;
  flex-wrap:wrap;
 text-align: center;
}

.conutriesCars{
  border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.conutriesCars img{
  width: 200px;
}


.conutriesCarsId{
  text-align: center;
  padding: 20px;
  border: 1px solid red;
}



.footerCountries{
  background-color: aqua;
 
}